<div class="main-choose">
  <div class="title-screen">
    <img class="title-screen-img animate__animated " src="./assets/img/choose-game.png">
  </div>
  <div class="game-selector">
    <div class="game1">
      <div class="select-1" (click)="tictactoe()">
        <div class="title-space">
          <p class="title-1-game1">Tic</p>
          <p class="title-2-game1">Tac</p>
          <p class="title-3-game1">Toe</p>
        </div>
        <div class="start-space-game1">
          <p class="start-game1">
            START
          </p>
        </div>
      </div>
    </div>
    <div class="game2">
      <div class="select-2" (click)="jankenpon()">
        <div class="title">
          <div class="title-1-game2">
            <img class="title-img" src="./assets/img/jan-pixel.png">
          </div>
          <div class="title-2-game2">
            <img class="title-img" src="./assets/img/ken-pixel.png">
          </div>
          <div class="title-3-game2">
            <img class="title-img" src="./assets/img/pon-pixel.png">
          </div>
          <div class="title-4-game2">
            <img class="start-img" src="./assets/img/start-game.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
