* {
  caret-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.board-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-space {
  display: flex;
  flex-direction: row;
}

.title-1, .title-2 {
  margin-right: 15px;
}

.title-1, .title-2, .title-3 {
  font-family: title-font;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.info {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.players {
  width: 34vw;
  margin-left: 20px;
}

ul {
  list-style: none;
}

li {
  padding-right: 10px;
}

.turn-p1 {
  width: 130px;
  border: 5px solid red;
  border-radius: 20px;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

.turn-p2 {
  width: 130px;
  border: 5px solid yellow;
  border-radius: 20px;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink { 50% { border-color:#000 ; }  }

.player1-info {
  font-family: simple-font;
  font-size: 2.5rem;
  color: red;
  margin-bottom: 40px;
}

.player2-info {
  font-family: simple-font;
  font-size: 2.5rem;
  color: yellow;
}

.resetScore {
  font-family: simple-font;
  font-size: 2.5rem;
  color: var(--second-color);
}

.resetBtn {
  transition: .4s;
  cursor: pointer;
  border: 5px solid var(--second-color);
  width: 170px;
  border-radius: 10px;
}

.animate__fadeIn_click {
  animation: fadeIn;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  border: 5px solid var(--second-color);
  border-radius: 10px;
  width: 170px;
}

.resetBtn:hover {
  border: 5px solid var(--second-color);
  border-radius: 10px;
  width: 170px;
}

.game-board {
  height: 500px;
  width: 500px;
  border: 4px solid var(--second-color);
  border-radius: 30px;
  background-color: transparent;
}

.board-place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.line {
  display: flex;
  flex-direction: row;
}

.line > div {
  height: 147px;
  width: 147px;
}

.cursor-pointer {
  cursor: pointer;
}

.A, .B, .C, .D, .E, .F, .G, .H, .I {
  font-family: title-font;
  font-size: 4rem;
  text-align: center;
}

.A {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 0px 3px 3px 0;
}

.winner {
  background-color: var(--second-color);
  border-radius: 10px;
  animation: blinker .5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.B {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 0px 0px 3px 0;
}

.C {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 0px 0px 3px 3px;
}

.E {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 0px 3px 0 3px;
}

.G {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 3px 3px 0 0;
}

.H {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 3px 0 0 0;
}

.I {
  border-color: var(--second-color);
  border-style: solid;
  border-width: 3px 0 0 3px;
}

.symbol {
  margin-top: 40px;
}

.symbolP1 {
  color: red;
}

.symbolP2 {
  color: yellow;
}

.swal2-title {
  font-family: simple-font!important;
}

@media (max-width: 1024px) {
  .info {
    margin-top: 14rem;
  }
}

@media (max-width: 768px) {
  .info {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    margin-top: 0;
  }

  .title-1, .title-2, .title-3 {
    font-size: 1.5rem;
  }

  .game-board {
    height: 19rem;
    width: 19rem;
    margin-top: 1rem;
  }

  .board-place {
    margin-top: 0.4rem;
  }

  .line > div {
    height: 6rem;
    width: 6rem;
  }

  .players-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .players {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0!important;
    width: 100%;
  }

  .player1-info > ul > li, .player2-info > ul > li {
    font-size: 1.6rem;
    width: 4.5rem;
    padding-left: 0;
  }

  .turn-p1, .turn-p2 {
    width: 5.5rem;
    border: 3px solid red;
  }

  .resetScore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .resetScore {
    padding-bottom: 2rem;
  }

  .resetBtn {
    margin: 0!important;
    padding: 0!important;
  }

  .resetBtn > li {
    margin-left: 1.5rem;
    width: 100%;
  }

  .animate__fadeIn_click {
    width: 11rem;
    margin: 0!important;
    padding: 0!important;
  }

  .symbol {
    margin-top: .8rem;
  }

  .animate__fadeIn_click {
    width: 169px;
  }
}

@media (max-width: 320px) {
  .main {
    margin-top: 0rem;
  }

  .players {
    height: 6rem;
  }

  .player1-info > ul, .player2-info > ul {
    width: 5.5rem;
    margin-top: 1.5rem;
  }
}
