@font-face {
  font-family: simple-font;
  src: url(./assets/fonts/thin_pixel-7.ttf);
}

@font-face {
  font-family: title-font;
  src: url(./assets/fonts/WildWestPixel.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
  overflow: hidden;
}

body {
  margin: 0!important;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

html, body {
  height: 100vh;
}
ul {
  list-style: none;
}
